Repository matrix-org/matrix-react-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @matrix-org/element-web-reviewers, @matrix-org/element-web-team, @matrix-org/element-crypto-web-reviewers

Migrate
  src/sentry.ts
Owners: @matrix-org/element-web-reviewers

prettier
  package.json
Owners: @matrix-org/element-web-team

Don't show 'saved' on display name save error
  src/components/views/settings/UserProfileSettings.tsx
  test/components/views/settings/UserProfileSettings-test.tsx
Owners: @matrix-org/element-web-reviewers

Use stable endpoints for MSC3916
  playwright/e2e/timeline/timeline.spec.ts
Owners: @matrix-org/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Support s tags for strikethrough for Matrix v1.10
  src/HtmlUtils.tsx
  src/Linkify.tsx
  src/Markdown.ts
  src/editor/deserialize.ts
Owners: @matrix-org/element-web-reviewers

Tweak copy for user verification toast
  src/components/views/toasts/VerificationRequestToast.tsx
  src/i18n/strings/en_EN.json
Owners: @matrix-org/element-web-reviewers

Update tests
  playwright/e2e/crypto/verification.spec.ts
Owners: @matrix-org/element-web-reviewers

Cache e2eStatus to avoid concerning unencrypted flicker when changing rooms
  src/components/structures/RoomView.tsx
Owners: @matrix-org/element-web-reviewers

Iterate
  playwright/e2e/crypto/verification.spec.ts
Owners: @matrix-org/element-web-reviewers

Fix image upload preview size
  playwright/snapshots/file-upload/image-upload.spec.ts/image-upload-preview-linux.png
  res/css/_common.pcss
Owners: @matrix-org/element-web-reviewers

Add the actual playwright test
  playwright/e2e/file-upload/image-upload.spec.ts
Owners: @matrix-org/element-web-reviewers

Remove stale `#start` route as it hasn't been used in a long time
  src/components/structures/MatrixChat.tsx
Owners: @matrix-org/element-web-reviewers

Use latest LTS Node in CI
  .github/workflows/end-to-end-tests.yaml
  .github/workflows/static_analysis.yaml
  .github/workflows/tests.yml
Owners: @matrix-org/element-web-team

Add in-progress view to display name EditInPlace
  res/css/views/settings/_UserProfileSettings.pcss
  src/components/views/settings/UserProfileSettings.tsx
  src/i18n/strings/en_EN.json
Owners: @matrix-org/element-web-reviewers

Don't consider textual characters to be emoji
  .eslintrc.js
  src/HtmlUtils.tsx
  src/components/views/rooms/SendMessageComposer.tsx
  src/editor/parts.ts
  test/HtmlUtils-test.tsx
  test/__snapshots__/HtmlUtils-test.tsx.snap
Owners: @matrix-org/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

iterate
  src/HtmlUtils.tsx
  src/Linkify.tsx
Owners: @matrix-org/element-web-reviewers

Fix image upload preview size (#12607)
  playwright/e2e/file-upload/image-upload.spec.ts
  playwright/snapshots/file-upload/image-upload.spec.ts/image-upload-preview-linux.png
  res/css/_common.pcss
Owners: @matrix-org/element-web-reviewers

Update gfm.css to github-markdown-css
  package.json
  res/css/views/rooms/_EventTile.pcss
  res/css/views/rooms/_MessageComposer.pcss
  res/themes/dark-custom/css/dark-custom.pcss
  res/themes/dark/css/dark.pcss
  res/themes/legacy-dark/css/legacy-dark.pcss
  res/themes/legacy-light/css/legacy-light.pcss
  res/themes/light-custom/css/light-custom.pcss
  res/themes/light-high-contrast/css/light-high-contrast.pcss
  res/themes/light/css/light.pcss
  yarn.lock
Owners: @matrix-org/element-web-team, @matrix-org/element-web-reviewers

Replace setImmediate with setTimeout
  .eslintrc.js
  src/components/views/dialogs/BulkRedactDialog.tsx
  test/components/views/dialogs/ForwardDialog-test.tsx
  test/components/views/right_panel/PinnedMessagesCard-test.tsx
  test/utils/leave-behaviour-test.ts
Owners: @matrix-org/element-web-reviewers

Avoid usage of setImmediate, prefer setTimeout
  src/Lifecycle.ts
  src/Modal.tsx
  src/components/structures/ContextMenu.tsx
  src/components/structures/PictureInPictureDragger.tsx
  src/components/views/dialogs/ForwardDialog.tsx
  src/components/views/dialogs/spotlight/SpotlightDialog.tsx
  src/components/views/rooms/NewRoomIntro.tsx
  src/components/views/rooms/RoomSublist.tsx
  src/components/views/rooms/RoomTile.tsx
  src/stores/room-list/RoomListStore.ts
  src/stores/room-list/filters/SpaceFilterCondition.ts
  test/components/views/context_menus/RoomGeneralContextMenu-test.tsx
  test/components/views/rooms/RoomPreviewBar-test.tsx
  test/setup/setupManualMocks.ts
  test/stores/LifecycleStore-test.ts
  test/stores/room-list/RoomListStore-test.ts
Owners: @matrix-org/element-web-reviewers

Update screenshots
  playwright/snapshots/timeline/timeline.spec.ts/highlighted-search-results-linux.png
Owners: @matrix-org/element-web-reviewers

Add missing import
  test/components/views/rooms/RoomPreviewBar-test.tsx
Owners: @matrix-org/element-web-reviewers

Update src/Linkify.tsx
  src/Linkify.tsx
Owners: @matrix-org/element-web-reviewers

Update src/components/structures/RoomView.tsx
  src/components/structures/RoomView.tsx
Owners: @matrix-org/element-web-reviewers

Avoid flakiness from hover styling in screenshot tests
  playwright/element-web-test.ts
Owners: @matrix-org/element-web-reviewers

Fix widgets not being cleaned up correctly.
  src/stores/ActiveWidgetStore.ts
  src/stores/CallStore.ts
  src/stores/widgets/StopGapWidget.ts
  src/toasts/IncomingCallToast.tsx
Owners: @matrix-org/element-web-reviewers

rest of the renaming
  src/components/structures/MatrixChat.tsx
  src/components/structures/RoomView.tsx
  src/components/views/voip/CallView.tsx
  src/hooks/room/useRoomCall.ts
  src/models/Call.ts
  src/stores/CallStore.ts
  src/stores/room-list/algorithms/Algorithm.ts
  test/components/structures/MatrixChat-test.tsx
  test/components/views/rooms/RoomHeader-test.tsx
Owners: @matrix-org/element-web-reviewers

Special case disabling of setting tos use config overrides.
  src/components/views/elements/SettingsFlag.tsx
  src/settings/SettingsStore.ts
  test/components/views/dialogs/UserSettingsDialog-test.tsx
Owners: @matrix-org/element-web-reviewers

replace graphemer by unicode-segmenter
  package.json
  src/HtmlUtils.tsx
  src/editor/parts.ts
  src/utils/strings.ts
  yarn.lock
Owners: @matrix-org/element-web-team, @matrix-org/element-web-reviewers

Remove room key history sharing
  src/RoomInvite.tsx
  src/SlashCommands.tsx
  src/components/views/dialogs/InviteDialog.tsx
  src/utils/MultiInviter.ts
  src/utils/RoomUpgrade.ts
Owners: @matrix-org/element-web-reviewers

remove string from i18n
  src/i18n/strings/en_EN.json
Owners: none

[create-pull-request] automated change
  src/i18n/strings/pl.json
Owners: none

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Add login page option for SSO redirects
  src/IConfigOptions.ts
Owners: @matrix-org/element-web-reviewers

Add login page option for SSO redirects
  src/IConfigOptions.ts
Owners: @matrix-org/element-web-reviewers

remove logs
  src/components/views/elements/SettingsFlag.tsx
  src/settings/SettingsStore.ts
Owners: @matrix-org/element-web-reviewers

Refactor to hook
  res/css/views/right_panel/_CommonRoomInformationCard.pcss
  src/components/views/right_panel/CommonRoomInformationCard.tsx
  src/components/views/right_panel/RightPanelTabs.tsx
Owners: @matrix-org/element-web-reviewers

Update to new compound-web
  package.json
  yarn.lock
Owners: @matrix-org/element-web-team

.github/CODEOWNERS:

*                         @matrix-org/element-web-reviewers
/.github/workflows/**     @matrix-org/element-web-team
/package.json             @matrix-org/element-web-team
/yarn.lock                @matrix-org/element-web-team

/src/SecurityManager.ts                           @matrix-org/element-crypto-web-reviewers
/test/SecurityManager-test.ts                     @matrix-org/element-crypto-web-reviewers
/src/async-components/views/dialogs/security/     @matrix-org/element-crypto-web-reviewers
/src/components/views/dialogs/security/           @matrix-org/element-crypto-web-reviewers
/test/components/views/dialogs/security/          @matrix-org/element-crypto-web-reviewers
/src/stores/SetupEncryptionStore.ts               @matrix-org/element-crypto-web-reviewers
/test/stores/SetupEncryptionStore-test.ts         @matrix-org/element-crypto-web-reviewers

# Ignore translations as those will be updated by GHA for Localazy download
/src/i18n/strings
# Ignore the synapse plugin as this is updated by GHA for docker image updating
/playwright/plugins/homeserver/synapse/index.ts
