Repository matrix-org/matrix-react-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @matrix-org/element-web-reviewers, @matrix-org/element-web-team, @matrix-org/element-crypto-web-reviewers

Iterate
  test/components/structures/PipContainer-test.tsx
  test/components/structures/__snapshots__/SpaceHierarchy-test.tsx.snap
  test/components/views/messages/MessageActionBar-test.tsx
  test/components/views/right_panel/__snapshots__/LegacyRoomHeaderButtons-test.tsx.snap
  test/components/views/rooms/MessageComposerButtons-test.tsx
  test/components/views/rooms/RoomTile-test.tsx
  test/components/views/rooms/__snapshots__/RoomTile-test.tsx.snap
  test/components/views/rooms/wysiwyg_composer/components/FormattingButtons-test.tsx
  test/toasts/IncomingCallToast-test.tsx
  test/voice-broadcast/components/molecules/__snapshots__/VoiceBroadcastPreRecordingPip-test.tsx.snap
Owners: @matrix-org/element-web-reviewers

Deprecate AccessibleTooltipButton
  src/components/structures/LeftPanel.tsx
  src/components/structures/SpaceHierarchy.tsx
  src/components/structures/SpaceRoomView.tsx
  src/components/views/audio_messages/PlayPauseButton.tsx
  src/components/views/beta/BetaCard.tsx
  src/components/views/dialogs/spotlight/TooltipOption.tsx
  src/components/views/elements/AccessibleButton.tsx
  src/components/views/elements/AccessibleTooltipButton.tsx
  src/components/views/elements/ImageView.tsx
  src/components/views/elements/SSOButtons.tsx
  src/components/views/messages/CallEvent.tsx
  src/components/views/messages/LegacyCallEvent.tsx
  src/components/views/messages/TextualBody.tsx
  src/components/views/right_panel/RoomSummaryCard.tsx
  src/components/views/rooms/CollapsibleButton.tsx
  src/components/views/rooms/MessageComposer.tsx
  src/components/views/rooms/MessageComposerButtons.tsx
  src/components/views/rooms/PinnedEventTile.tsx
  src/components/views/rooms/RoomList.tsx
  src/components/views/rooms/VoiceRecordComposerTile.tsx
  src/components/views/settings/devices/DeviceExpandDetailsButton.tsx
  src/components/views/spaces/SpaceCreateMenu.tsx
  src/components/views/spaces/SpacePanel.tsx
  src/components/views/voip/LegacyCallView/LegacyCallViewHeader.tsx
  src/toasts/IncomingCallToast.tsx
  src/toasts/IncomingLegacyCallToast.tsx
  src/voice-broadcast/components/atoms/VoiceBroadcastHeader.tsx
  src/voice-broadcast/components/molecules/VoiceBroadcastRecordingPip.tsx
Owners: @matrix-org/element-web-reviewers

Fix tests
  src/components/structures/LeftPanel.tsx
  src/components/structures/SpaceHierarchy.tsx
  src/components/views/dialogs/spotlight/TooltipOption.tsx
  src/components/views/rooms/LegacyRoomHeader.tsx
  src/components/views/settings/devices/DeviceExpandDetailsButton.tsx
  src/i18n/strings/en_EN.json
  src/toasts/IncomingCallToast.tsx
  test/components/structures/LeftPanel-test.tsx
  test/components/structures/UserMenu-test.tsx
  test/components/structures/__snapshots__/RoomView-test.tsx.snap
  test/components/structures/__snapshots__/UserMenu-test.tsx.snap
  test/components/views/audio_messages/RecordingPlayback-test.tsx
  test/components/views/location/LocationViewDialog-test.tsx
  test/components/views/location/ZoomButtons-test.tsx
  test/components/views/location/__snapshots__/LocationViewDialog-test.tsx.snap
  test/components/views/location/__snapshots__/ZoomButtons-test.tsx.snap
  test/components/views/right_panel/UserInfo-test.tsx
  test/components/views/right_panel/__snapshots__/UserInfo-test.tsx.snap
  test/components/views/rooms/RoomListHeader-test.tsx
  test/components/views/rooms/RoomPreviewCard-test.tsx
  test/components/views/rooms/VoiceRecordComposerTile-test.tsx
  test/components/views/rooms/__snapshots__/MemberTile-test.tsx.snap
  test/components/views/settings/devices/CurrentDeviceSection-test.tsx
  test/components/views/settings/devices/LoginWithQRFlow-test.tsx
  test/components/views/settings/devices/__snapshots__/CurrentDeviceSection-test.tsx.snap
  test/components/views/settings/devices/__snapshots__/LoginWithQRFlow-test.tsx.snap
  test/components/views/spaces/SpacePanel-test.tsx
  test/index.ts
  test/voice-broadcast/components/atoms/VoiceBroadcastHeader-test.tsx
  test/voice-broadcast/components/atoms/__snapshots__/VoiceBroadcastHeader-test.tsx.snap
  test/voice-broadcast/components/molecules/VoiceBroadcastPlaybackBody-test.tsx
  test/voice-broadcast/components/molecules/VoiceBroadcastPreRecordingPip-test.tsx
  test/voice-broadcast/components/molecules/VoiceBroadcastRecordingBody-test.tsx
  test/voice-broadcast/components/molecules/VoiceBroadcastSmallPlaybackBody-test.tsx
  test/voice-broadcast/components/molecules/__snapshots__/VoiceBroadcastPlaybackBody-test.tsx.snap
  test/voice-broadcast/components/molecules/__snapshots__/VoiceBroadcastPreRecordingPip-test.tsx.snap
  test/voice-broadcast/components/molecules/__snapshots__/VoiceBroadcastRecordingBody-test.tsx.snap
  test/voice-broadcast/components/molecules/__snapshots__/VoiceBroadcastSmallPlaybackBody-test.tsx.snap
Owners: @matrix-org/element-web-reviewers

Deprecate AccessibleTooltipButton
  src/components/structures/SpaceRoomView.tsx
  src/components/views/audio_messages/PlayPauseButton.tsx
  src/components/views/beta/BetaCard.tsx
  src/components/views/elements/AccessibleButton.tsx
  src/components/views/elements/AccessibleTooltipButton.tsx
  src/components/views/elements/AppTile.tsx
  src/components/views/elements/ImageView.tsx
  src/components/views/elements/SSOButtons.tsx
  src/components/views/messages/CallEvent.tsx
  src/components/views/messages/LegacyCallEvent.tsx
  src/components/views/messages/TextualBody.tsx
  src/components/views/right_panel/RoomSummaryCard.tsx
  src/components/views/rooms/CollapsibleButton.tsx
  src/components/views/rooms/EmojiButton.tsx
  src/components/views/rooms/EntityTile.tsx
  src/components/views/rooms/LegacyRoomHeader.tsx
  src/components/views/rooms/MessageComposerButtons.tsx
  src/components/views/rooms/PinnedEventTile.tsx
  src/components/views/rooms/RoomKnocksBar.tsx
  src/components/views/rooms/RoomList.tsx
  src/components/views/rooms/VoiceRecordComposerTile.tsx
  src/components/views/settings/tabs/room/PeopleRoomSettingsTab.tsx
  src/components/views/spaces/SpaceCreateMenu.tsx
  src/components/views/spaces/SpacePanel.tsx
  src/components/views/voip/LegacyCallView/LegacyCallViewHeader.tsx
  src/i18n/strings/en_EN.json
  src/voice-broadcast/components/atoms/VoiceBroadcastHeader.tsx
Owners: @matrix-org/element-web-reviewers

Iterate
  src/components/structures/SpaceRoomView.tsx
  src/components/views/audio_messages/PlayPauseButton.tsx
  src/components/views/elements/ImageView.tsx
  src/components/views/elements/SSOButtons.tsx
  src/components/views/messages/CallEvent.tsx
  src/components/views/messages/LegacyCallEvent.tsx
  src/components/views/right_panel/RoomSummaryCard.tsx
  src/voice-broadcast/components/molecules/VoiceBroadcastRecordingPip.tsx
  test/components/structures/__snapshots__/RoomView-test.tsx.snap
  test/components/views/settings/devices/__snapshots__/CurrentDeviceSection-test.tsx.snap
  test/voice-broadcast/components/molecules/VoiceBroadcastRecordingPip-test.tsx
Owners: @matrix-org/element-web-reviewers

Update Threads Activity Centre label
  src/i18n/strings/en_EN.json
  src/settings/Settings.tsx
Owners: @matrix-org/element-web-reviewers

Rename Thread Activity Centre to Threads Activity Centre
  res/css/_components.pcss
  res/css/structures/_ThreadsActivityCentre.pcss
  src/components/views/spaces/SpacePanel.tsx
  src/components/views/spaces/threads-activity-centre/ThreadsActivityCentre.tsx
  src/components/views/spaces/threads-activity-centre/ThreadsActivityCentreBadge.tsx
  src/components/views/spaces/threads-activity-centre/ThreadsActivityCentreButton.tsx
  src/components/views/spaces/threads-activity-centre/index.ts
  src/i18n/strings/en_EN.json
Owners: @matrix-org/element-web-reviewers

Fix account management link for delegated auth OIDC setups
  src/stores/oidc/OidcClientStore.ts
  src/utils/oidc/getDelegatedAuthAccountUrl.ts
  test/utils/oidc/getDelegatedAuthAccountUrl-test.ts
Owners: @matrix-org/element-web-reviewers

Fix comment
  src/stores/oidc/OidcClientStore.ts
Owners: @matrix-org/element-web-reviewers

Fix linter
  .eslintrc.js
Owners: @matrix-org/element-web-reviewers

Add notification dots to thread summary icons
  res/css/views/rooms/_EventTile.pcss
  res/css/views/rooms/_NotificationBadge.pcss
  src/components/views/rooms/NotificationBadge/StatelessNotificationBadge.tsx
  src/components/views/rooms/RoomHeader.tsx
  src/components/views/rooms/ThreadSummary.tsx
  src/utils/notifications.ts
Owners: @matrix-org/element-web-reviewers

Update test for new CSS class
  test/components/views/rooms/NotificationBadge/StatelessNotificationBadge-test.tsx
Owners: @matrix-org/element-web-reviewers

refact: cleaner keys array creation
  src/rageshake/submit-rageshake.ts
Owners: @matrix-org/element-web-reviewers

usei view room dispatcher instead of emitter
  src/models/Call.ts
  src/stores/CallStore.ts
Owners: @matrix-org/element-web-reviewers

Update snapshots with new class name
  test/components/structures/__snapshots__/RoomView-test.tsx.snap
  test/components/views/settings/notifications/__snapshots__/Notifications2-test.tsx.snap
Owners: @matrix-org/element-web-reviewers

tidy up
  src/components/views/voip/CallView.tsx
  src/components/views/voip/LegacyLobby.tsx
  src/stores/CallStore.ts
Owners: @matrix-org/element-web-reviewers

refact: cleaner keys array creation
  src/sentry.ts
Owners: @matrix-org/element-web-reviewers

jslint
  src/rageshake/submit-rageshake.ts
  src/sentry.ts
Owners: @matrix-org/element-web-reviewers

Update Twemoji to Jdecked v15.0.3
  res/fonts/Twemoji_Mozilla/TwemojiMozilla-colr.woff2
  res/fonts/Twemoji_Mozilla/TwemojiMozilla-sbix.woff2
Owners: @matrix-org/element-web-reviewers

Update comments in settings logic
  src/settings/Settings.tsx
  src/settings/SettingsStore.ts
Owners: @matrix-org/element-web-reviewers

Another snapshot update for new class name
  test/components/views/spaces/__snapshots__/SpaceTreeLevel-test.tsx.snap
Owners: @matrix-org/element-web-reviewers

Replace more uses of old class name in tests
  test/components/views/rooms/EventTile-test.tsx
  test/components/views/rooms/NotificationBadge/UnreadNotificationBadge-test.tsx
Owners: @matrix-org/element-web-reviewers

More snapshot updates for new class name
  test/components/structures/__snapshots__/RoomStatusBar-test.tsx.snap
Owners: @matrix-org/element-web-reviewers

Unsure how this ever worked in chronological mode
  test/components/structures/TimelinePanel-test.tsx
Owners: @matrix-org/element-web-reviewers

More snapshot updates
  test/components/views/rooms/RoomHeader/__snapshots__/VideoRoomChatButton-test.tsx.snap
  test/components/views/rooms/__snapshots__/RoomHeader-test.tsx.snap
Owners: @matrix-org/element-web-reviewers

returnToLobby + remove StartCallView
  src/components/views/voip/CallView.tsx
  src/models/Call.ts
  src/stores/CallStore.ts
  src/utils/video-rooms.ts
Owners: @matrix-org/element-web-reviewers

comment cleanup
  src/components/views/voip/CallView.tsx
  src/models/Call.ts
  src/stores/RoomViewStore.tsx
  test/components/views/rooms/LegacyRoomHeader-test.tsx
Owners: @matrix-org/element-web-reviewers

Use compound `MenuItem` instead of custom button
  res/css/structures/_ThreadsActivityCentre.pcss
  src/components/views/avatars/DecoratedRoomAvatar.tsx
  src/components/views/spaces/threads-activity-centre/ThreadsActivityCentre.tsx
Owners: @matrix-org/element-web-reviewers

Color thread icon when hovered
  res/css/structures/_ThreadsActivityCentre.pcss
Owners: @matrix-org/element-web-reviewers

Add documentation for `idbSave`
  playwright/e2e/crypto/test_indexeddb_cryptostore_dump/load.js
Owners: @matrix-org/element-web-reviewers

disconnect ongoing calls before making widget sticky.
  src/components/views/elements/AppTile.tsx
  src/components/views/voip/CallView.tsx
  src/models/Call.ts
  src/stores/widgets/StopGapWidget.ts
Owners: @matrix-org/element-web-reviewers

linter + jitsi as videoChannel
  src/models/Call.ts
  src/utils/video-rooms.ts
Owners: @matrix-org/element-web-reviewers

stickyPromise type
  src/components/views/elements/AppTile.tsx
  src/stores/widgets/StopGapWidget.ts
Owners: @matrix-org/element-web-reviewers

Fixed shield alignment on message Input
  res/css/views/rooms/_MessageComposer.pcss
Owners: @matrix-org/element-web-reviewers

[create-pull-request] automated change
  src/i18n/strings/cs.json
  src/i18n/strings/de_DE.json
  src/i18n/strings/el.json
  src/i18n/strings/eo.json
  src/i18n/strings/es.json
  src/i18n/strings/et.json
  src/i18n/strings/fa.json
  src/i18n/strings/fi.json
  src/i18n/strings/fr.json
  src/i18n/strings/gl.json
  src/i18n/strings/he.json
  src/i18n/strings/hu.json
  src/i18n/strings/id.json
  src/i18n/strings/is.json
  src/i18n/strings/it.json
  src/i18n/strings/ja.json
  src/i18n/strings/lo.json
  src/i18n/strings/lt.json
  src/i18n/strings/nl.json
  src/i18n/strings/pl.json
  src/i18n/strings/pt_BR.json
  src/i18n/strings/ru.json
  src/i18n/strings/sk.json
  src/i18n/strings/sq.json
  src/i18n/strings/sv.json
  src/i18n/strings/uk.json
  src/i18n/strings/vi.json
  src/i18n/strings/zh_Hans.json
  src/i18n/strings/zh_Hant.json
Owners: none

Update end-to-end-tests.yaml
  .github/workflows/end-to-end-tests.yaml
Owners: @matrix-org/element-web-team

Update end-to-end-tests.yaml
  .github/workflows/end-to-end-tests.yaml
Owners: @matrix-org/element-web-team

Use actions/download-artifact@v4 for workflow_run
  .github/workflows/element-web.yaml
  .github/workflows/end-to-end-tests.yaml
  .github/workflows/netlify.yaml
  .github/workflows/tests.yml
Owners: @matrix-org/element-web-team

Use artifacts v4 for e2e tests
  .github/workflows/end-to-end-tests.yaml
Owners: @matrix-org/element-web-team

Remove welcome bot `welcome_user_id` support
  src/IConfigOptions.ts
  src/components/structures/MatrixChat.tsx
  src/components/views/dialogs/InviteDialog.tsx
Owners: @matrix-org/element-web-reviewers

.github/CODEOWNERS:

*                         @matrix-org/element-web-reviewers
/.github/workflows/**     @matrix-org/element-web-team
/package.json             @matrix-org/element-web-team
/yarn.lock                @matrix-org/element-web-team

/src/SecurityManager.ts                           @matrix-org/element-crypto-web-reviewers
/test/SecurityManager-test.ts                     @matrix-org/element-crypto-web-reviewers
/src/async-components/views/dialogs/security/     @matrix-org/element-crypto-web-reviewers
/src/components/views/dialogs/security/           @matrix-org/element-crypto-web-reviewers
/test/components/views/dialogs/security/          @matrix-org/element-crypto-web-reviewers
/src/stores/SetupEncryptionStore.ts               @matrix-org/element-crypto-web-reviewers
/test/stores/SetupEncryptionStore-test.ts         @matrix-org/element-crypto-web-reviewers

/src/i18n/strings
