Repository matrix-org/matrix-react-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @matrix-org/element-web-reviewers, @matrix-org/element-web-team, @matrix-org/element-crypto-web-reviewers

.github/CODEOWNERS:

*                         @matrix-org/element-web-reviewers
/.github/workflows/**     @matrix-org/element-web-team
/package.json             @matrix-org/element-web-team
/yarn.lock                @matrix-org/element-web-team

/src/SecurityManager.ts                           @matrix-org/element-crypto-web-reviewers
/test/SecurityManager-test.ts                     @matrix-org/element-crypto-web-reviewers
/src/async-components/views/dialogs/security/     @matrix-org/element-crypto-web-reviewers
/src/components/views/dialogs/security/           @matrix-org/element-crypto-web-reviewers
/test/components/views/dialogs/security/          @matrix-org/element-crypto-web-reviewers
/src/stores/SetupEncryptionStore.ts               @matrix-org/element-crypto-web-reviewers
/test/stores/SetupEncryptionStore-test.ts         @matrix-org/element-crypto-web-reviewers

/src/i18n/strings

Fix test covg artifacts
  .github/workflows/tests.yml
Owners: @matrix-org/element-web-team

Iterate
  src/components/views/settings/tabs/user/HelpUserSettingsTab.tsx
  test/components/views/dialogs/InviteDialog-test.tsx
Owners: @matrix-org/element-web-reviewers

Enable the rust-crypto labs button
  src/MatrixClientPeg.ts
  src/i18n/strings/en_EN.json
  src/settings/Settings.tsx
  src/settings/controllers/RustCryptoSdkController.ts
  test/components/views/settings/tabs/user/LabsUserSettingsTab-test.tsx
Owners: @matrix-org/element-web-reviewers

fix up a test
  test/MatrixClientPeg-test.ts
Owners: @matrix-org/element-web-reviewers

`LabsUserSettingsTab-test.tsx`: use a real `SdkConfig`
  test/components/views/settings/tabs/user/LabsUserSettingsTab-test.tsx
  test/components/views/settings/tabs/user/__snapshots__/LabsUserSettingsTab-test.tsx.snap
Owners: @matrix-org/element-web-reviewers

i18n
  src/i18n/strings/en_EN.json
Owners: none

fix legacy call (jistsi, cisco, bbb) reopen when clicking call button
  src/hooks/room/useRoomCall.ts
  src/stores/WidgetStore.ts
  test/components/views/rooms/RoomHeader-test.tsx
Owners: @matrix-org/element-web-reviewers

Make the pop-up scrollable and add a max height
  res/css/structures/_ThreadsActivityCentre.pcss
  src/components/views/spaces/threads-activity-centre/ThreadsActivityCentre.tsx
Owners: @matrix-org/element-web-reviewers

fix tests and connect resolves
  src/models/Call.ts
  test/components/views/rooms/LegacyRoomHeader-test.tsx
Owners: @matrix-org/element-web-reviewers

New room header - add chat button during call - close lobby button in lobby - join button if session exists - allow to toggle call <-> timeline during call with call button
  src/components/views/rooms/RoomHeader.tsx
  src/components/views/rooms/RoomHeader/VideoRoomChatButton.tsx
  src/hooks/room/useRoomCall.ts
  src/i18n/strings/en_EN.json
  src/toasts/IncomingCallToast.tsx
Owners: @matrix-org/element-web-reviewers

dont show start call, join button in video rooms.
  src/components/views/rooms/RoomHeader.tsx
Owners: @matrix-org/element-web-reviewers

fix "waits for messaging when connecting" test
  src/models/Call.ts
  test/models/Call-test.ts
Owners: @matrix-org/element-web-reviewers

Fixed shield alignment on message Input
  res/css/views/rooms/_MessageComposer.pcss
Owners: @matrix-org/element-web-reviewers

Remove Math.random in key
  src/components/views/spaces/threads-activity-centre/ThreadsActivityCentre.tsx
Owners: @matrix-org/element-web-reviewers

Remove unused prop
  src/components/views/dialogs/UserSettingsDialog.tsx
  src/components/views/settings/tabs/user/HelpUserSettingsTab.tsx
Owners: @matrix-org/element-web-reviewers

Remove unused class
  res/css/structures/_ThreadsActivityCentre.pcss
  src/components/views/spaces/threads-activity-centre/ThreadsActivityCentre.tsx
Owners: @matrix-org/element-web-reviewers

Change add comments on `mx_ThreadsActivityRows` and `mx_ThreadsActivityRow`
  res/css/structures/_ThreadsActivityCentre.pcss
Owners: @matrix-org/element-web-reviewers

Allow to skip awaiting Call session events. This option is used in tests to spare mocking the events emitted when EC updates the room state
  src/models/Call.ts
  test/models/Call-test.ts
Owners: @matrix-org/element-web-reviewers

Updated fix
  res/css/views/rooms/_MessageComposer.pcss
  src/components/views/rooms/MessageComposer.tsx
Owners: @matrix-org/element-web-reviewers

reversing merged changes
  res/css/views/rooms/_MessageComposer.pcss
Owners: @matrix-org/element-web-reviewers
